body {
    background-color: rgb(0,0,0);
    margin: 0;
    padding: 0;
}


* {
    scroll-behavior: smooth;
}

/* custom properties */
:root {
    --ff-primary: 'source sans pro', 'sans-serif';
    --ff-secondary: 'source code pro', 'monospace';

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: rgb(0, 0, 0);
    --clr-accent: linear-gradient(to right, rgb(45, 100, 175), black);
    --clr-ham: rgb(56, 56, 56);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1 rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

}

/* Home */


.home {
    background: #ce3232;
    background: url('../IMG-20200916-WA0068.jpg') center no-repeat;
    background-size: cover;
    margin-top: 0;
    padding: 40px 0 40px 80px;
    overflow: hidden;
    position: relative;
    height: 789px;
    z-index: 15;
}

.home::after {
    background: rgba(0, 0, 0, .8);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 789px;
    z-index: -2222;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open nav {
    transform: translateX(0);
    justify-content: center;
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: rgb(45, 100, 175);
    width: 35px;
    height: 5px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


.profile-pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.title {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    color: white;
}

.subtitle {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to left, rgb(55, 175, 195), rgb(14, 13, 13));
    width: 325px;
    height: 45px;
    color: white;
    border-radius: 13%;
}

.subtitle::after {
    content: ' UI designer';
    animation: animate infinite 8s;
}

@keyframes animate {
    30% {
        content: ' Front end dev';
    }

    60% {
        content: ' Data analyst';
    }

    100% {
        content: ' Graphic designer';
    }
}

.about {
    background-color: #000000cc;
    background-image: url("../img/images\(22\).jpg");
    background-size: cover;
    background-blend-mode: multiply;
    justify-content: center;
    text-align: center;
    height: 700px auto;
    box-shadow: rgb(45, 45, 45);
}

.row {
    justify-content: center;
}

.about-text {
    color: var(--clr-light);
}

.experience {
    color: var(--clr-light);
}

.service,
.my-service {
    color: white;
}

.view-cv {
    background: var(--clr-accent);
}

/* skills */
.html {
    background: var(--clr-accent);
    width: 200px;
    height: 5px;
    font-size: 20px;
}

.css {
    background: var(--clr-accent);
    width: 200px;
    height: 5px;
}

.javascript {
    background: var(--clr-accent);
    width: 200px;
    height: 5px;
}

.data {
    background: var(--clr-accent);
    width: 145px;
    height: 5px;
}

.english {
    background: var(--clr-accent);
    width: 200px;
    height: 5px;
}

.communications {
    background: var(--clr-accent);
    width: 200px;
    height: 5px;
}

.php {
    background: var(--clr-accent);
    width: 155px;
    height: 5px;
}

.react {
    background: var(--clr-accent);
    width: 156px;
    height: 5px;
}

.my-skills {
    background-color: rgb(0, 0, 0);
    color: white;
}

.skills-image {
    position: relative;
    opacity: .8;
    height: 430px;
    width: 100%;
    z-index: 2;
}

.skills-image::before {
    position: absolute;
    height: 430px;
    width: 530px;
    background-color: var(--clr-accent);
}

/* projects */

.projects {
    height: auto;
    background: black;
}

.project-img {
    height: 250px;
    width: 100%;
}
.project-img:hover{
    transform:scale(1.12);
    transition:1s;
}


.projects-title,
.location-title {
    color: var(--clr-light);
    text-align: center;
}

/*contacts*/

#contacts{
	background:black;
	width:100%;
}
.form-top{
	margin-top: 30px;
	color:white;
	background:black;
	justify-content:center;
}
.panel{
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
	border-radius: 10px;
    	border: 0;
	color:white;
	background:black;
}
@-moz-document url-prefix() {
    .form-control{
    	height: auto;
	background:black;
    }
}



.contacts {
    background-color: black;
    height: 400;
}

.contact-icons ul {
    justify-content: center;
    display: flex;
}

.copyright-text,
.cell {
    text-align: center;
}

.cell {
    color: lightblue;
}

.cell a {
    font-size: 25;
    color: lightblue;
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.social-icon li a {
    border-radius: 100px;
    font-size: 25px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
}

.social-icon li a:hover {
    background: #ce3232;
    color: #ffffff;
}
